
        <form action="/" method="POST">
            <label>
              Nombre de usuario:
              <input type="text" name="nombreUsuario" />
            </label>
            <label>
              Correo electrónico:
              <input type="email" name="correoElectronico" />
            </label>
            <label>
              Contraseña:
              <input type="password" name="contraseña" />
            </label>
            <button type="submit">Registrarse</button>
          </form>
          
        